<div class="container-fluid">
<div class="row">
<div class="panel-body">
  <div class="chat">
      <div class="left clearfix"><span class="chat-img pull-left"></span>
          <div class="chat-body clearfix">
            <div class="header">
              <strong class="primary-font">User email: <%= chat_message.user.email %></strong> <small class="pull-right text-muted">
              <span class="glyphicon glyphicon-time"></span><%= Time.now.strftime("%M") %> mins ago</small>
            </div>
                <p><%= chat_message.body %></p>
          </div>
      </div>
    
    </div>
</div>
</div>  
</div>
           