<div>
	<h3>Results with partial and object</h3>
	<h5>Is array? <%= @results_list.kind_of?(Array) %></h5>
	<br>
	<%= @results_list.each do |result| %>
	<%= render partial: "results/result", locals: {result: result}  %>
	<% end %>
</div>